#search:hover {
  transition: none !important; /* 트랜지션 제거 */
  color: #c5c5c5 !important;
  background-color: #f5f5f5 !important;
}

/* 버튼의 포커스 상태를 기본 스타일로 유지하기 위해 설정 */
#search:focus {
  outline: none; /* 기본 포커스 테두리 제거 */
  box-shadow: none; /* 포커스 시 그림자 제거 */
}

/* CSS 파일 또는 스타일시트 */
.ant-modal .ant-modal-footer > .ant-btn + .ant-btn {
  margin-inline-start: 0 !important;
}

.ant-dropdown {
  top: 56px !important;
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.1); /* 원하는 색상으로 변경 */
}

/* CSS 파일 또는 스타일 태그 내에 추가 */
/* .ant-dropdown {
  transition: none !important;
  animation: none !important;
} */

/* .ant-dropdown {
  transition: none !important;
  animation: none !important;
} */

/* .ant-dropdown-menu {
  transition: none !important;
  animation: none !important;
} */

/* CSS */
